.main {
  min-height: 100vh;
  padding: 4rem 0;
  flex: 1;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;

  perspective: 25px;
}

.main h1 {
  font-family: Futura;
  font-weight: 500;
  letter-spacing: -0.1rem;
  font-size: 8rem;

  position: relative;

  /* transform: perspective(1000px) rotateX(6.04deg) rotateY(2.31deg)
    scale3d(1.1, 1.1, 1.1); */
}

.main h1:after {
  content: "variant";

  text-shadow: 1px 2px 2px rgba(0, 0, 0, 0.2), 2px 4px 4px rgba(0, 0, 0, 0.2),
    4px 8px 8px rgba(0, 0, 0, 0.2), 8px 16px 16px rgba(0, 0, 0, 0.2),
    16px 32px 32px rgba(0, 0, 0, 0.2);
  color: transparent;
}

.main h1 span {
  background-clip: text;
  -webkit-text-fill-color: transparent;
  background-image: url("/pattern.svg");
  position: absolute;
  width: 100%;
  background-size: var(--scale, 900%);
  background-position: var(--x, 40%) var(--y, 50%);
}
